.row{
	margin: 0 auto;
	width: 100%;
	padding: 0;
	max-width: 1270px;
	@media screen and (max-width: $small){
		padding: 0 $padding;
		.row{
			padding: 0;
		}
	}
	&:after {
		clear:both;
		content:".";
		display:block;
		height:0;
		visibility:hidden;
	}
	.row{
		width: calc(100% + 30px);
		margin-left: -$padding;
	}
}
.column{
	width: 100%;
	padding: 0 $padding;
	position: relative;
	&.half,
	&.third,
	&.fourth{
		float: left;
	}
	&.half{
		width: 50%;
	}
	&.third{
		width: 33.333%;
	}
	&.two_third{
		width: 66.666%;
	}
	&.fourth{
		width: 25%;
	}
	&.push-half{
		position: relative;
		left: 50%;
	}
	&.push-third{
		position: relative;
		left: 33.333%;
	}
	&.push-fourth{
		position: relative;
		left: 25%;
	}
	&.pull-half{
		position: relative;
		left: -50%;
	}
	&.pull-third{
		position: relative;
		left: -33.33%;
	}
	&.pull-fourth{
		position: relative;
		left: -25%;
	}
}

@media screen and (max-width: $small){
	.column{
		width: 100%;
		float: none;
		&.half,
		&.third,
		&.fourth{
			width: 100%;
			float: none;
		}
		&.push-half,
		&.push-third,
		&.push-fourth,
		&.pull-half,
		&.pull-third,
		&.pull-fourth{
			position: relative;
			left: 0;
		}
	}
	.hide-for-small{
		display: none !important;
	}
}
