.row{
	margin: 0 auto;
	width: 100%;
	padding: 0;
	max-width: 1170px;
	&:after {
		clear:both;
		content:".";
		display:block;
		height:0;
		visibility:hidden;
	}
	.row{
		width: calc(100% + ($padding*2));
		margin-left: -$padding;
	}
}
.column{
	width: 100%;
	padding: 0 $padding;
	&.half,
	&.third,
	&.fourth{
		float: left;
	}
	&.half{
		width: 50%;
	}
	&.third{
		width: 33.333%;
	}
	&.fourth{
		width: 25%;
	}
	&.push-half{
		position: relative;
		left: 50%;
	}
	&.push-third{
		position: relative;
		left: 33.333%;
	}
	&.push-fourth{
		position: relative;
		left: 25%;
	}
}
