header.site-header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	.column{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	img{
		max-width: 280px;
		float: left;
		@media screen and (max-width: $small){
			float: none;
			margin: 0 auto;
		}
	}
	ul{
		float: right;
		margin: 0;
		padding: 0;
		li{
			background: none;
			display: inline-block;
			margin: 0 0 0 15px;
			font-size: 1.6rem;
			line-height: normal;
			text-transform: uppercase;
			font-weight: 600;
			i{
				color: #999;
				position: relative;
				left: -3px;
				top: 1px;
			}
		}
	}
}
