// Header
$header_bkg_color: #1f76a5;

// Site variables


$color_text: #6c6f73;
$color_header: #2d3238;

$bkg_body: #29292a;
$bkg_grey: #f0f0f0;
$bkg_grey_alt: #eeeeee;
$blue: #009dac;
$blue_hover: #00737e;
$blue_active: #026872;
$blue_light_hover: #D6F7FE;
$orange: #e67200;
$grey: #2d3238;
$grey_light: #76777a;
$green: #29a362;

$red: #eb3736;
$dark_blue: #05458f;
$yellow: #f5bb00;

$color_global: #6c6f73;
$color_project: #572181;
$color_resource: #05458f;
$color_event: #f5bb00;
$color_news: #e05f00;
$color_impact: #178521;


$tiny: 479px;
$speed: 0.2s;
$gutter: 1.25rem;
$padding: 0.935rem;

$transition: all 0.125s ease;

$font: "Work sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$heading: "Work sans","Helvetica Neue",Helvetica,Arial,sans-serif;


/*
   @include breakpoint(medium down) {}

*/
