// Header
$header_bkg_color: #1f76a5;

// Site variables
$color_text: #6c6f73;
$color_header: #2d3238;

$bkg_body: #29292a;

$link: #2595ff;
$link_hover: #3fa2ff;

$color_global: #6c6f73;
$color_project: #572181;
$color_resource: #05458f;
$color_event: #f5bb00;
$color_news: #e05f00;
$color_impact: #178521;


$medium: 1024px;
$small: 768px;
$tiny: 479px;
$speed: 0.2s;
$padding: 15px;
$paddingDouble: $padding*2;

$transition: all 0.125s ease;

$font: "Work sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$heading: "Work sans","Helvetica Neue",Helvetica,Arial,sans-serif;
